*.pyc
*/__pycache__
dist/*
build/*
*.egg-info
venv
*~
cache
bin
.idea/*
*.AppImage
AppDir
linuxdeploy*
.pytest_cache
.mypy_cache
.tox
gweatherrouting/build
gweatherrouting/dist
gweatherrouting/*.spec
