requests
colorlog
eccodes==1.6.1
geojson_utils
bs4
vext @ git+https://github.com/vext-python/vext@32ad4d1c5f45797e244df1d2816f76b60f28e20e
vext.gi
pyserial
pynmea2
gpxpy
numpy
nmeatoolkit
matplotlib
weatherrouting
GDAL==3.6.4