#### Deps
charset-normalizer==3.4.4
idna==3.11
urllib3==2.5.0
certifi==2025.11.12
geojson==3.2.0
beautifulsoup4==4.14.3
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.0
kiwisolver==1.4.9
pillow==12.0.0
pyparsing==3.2.5
python-dateutil==2.9.0
latlon3==1.0.4
meson-python==0.18.0
soupsieve==2.8
typing-extensions==4.15.0
six==1.17.0
pyproj==3.7.2
pyproject-metadata==0.10.0
#### Requirements
requests==2.32.5
colorlog==6.10.1
geojson_utils==0.0.2
bs4==0.0.2
pyserial==3.5
pynmea2==1.19.0
gpxpy==1.6.2
numpy==2.3.5
nmeatoolkit==0.2
matplotlib==3.10.7
weatherrouting==0.2.3
pygobject==3.54.5

# In the manifest
# GDAL

# Not needed
# "vext @ git+https://github.com/vext-python/vext@32ad4d1c5f45797e244df1d2816f76b60f28e20e",
# "vext.gi",