[Desktop Entry]
Version=1.0
Name=GWeatherRouting
Exec=/usr/local/bin/gweatherrouting
Icon=
StartupNotify=true
Terminal=true
Type=Application
Categories=Education;Science;Geography
Keywords=GPS;Navigation;Chart