[Desktop Entry]
Version=1.0
Name=GWeatherRouting
Exec=gweatherrouting
Icon=io.github.dakk.gweatherrouting
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;Science;Geography
Keywords=GPS;Navigation;Chart