name: Flatpak

# on: [push]

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  flatpak:
    name: "flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: GWeatherRouting.flatpak
        manifest-path: flatpak/org.gweatherrouting.gweatherrouting.yml
        cache-key: flatpak-builder-${{ github.sha }}
