name: Flatpak

# on: [push]

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  flatpak:
    name: "flatpak"
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-latest
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    steps:
    - uses: actions/checkout@v4

    - name: Setup Flatpak builder
      uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: GWeatherRouting-linux.flatpak
        manifest-path: flatpak/io.github.dakk.gweatherrouting.yml
        cache-key: flatpak-builder-${{ github.sha }}
        arch: ${{ matrix.variant.arch }}
